body {
  background: #d4af37; /* Gold */
  color: black;
  font-family: sans-serif;
}

.product {
  background: #000; /* Black */
  color: #fff; /* White text */
  border-radius: 0.9375rem;
  padding: 0.9375rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.4);
}
